
<div class="global_container">

<div class="post">
	<div class="title">
	  <%= @post.title %>
	</div>
	 
	<div class="text">
	  <%= @post.text %>
	</div>
</div>

<!-- <div class="comments_area">
	<div class="comments_header">Comments</div>
	<%= render @post.comments %>
	 
	<div class="add">
		<div class="add_header">Add a comment:</div>
		<%= render "comments/form" %>
	</div>
	  -->
	<%= link_to 'Edit Post', edit_post_path(@post) %>
	<%= link_to 'Back to Posts', posts_path %>
</div>


</div>